[aria-label="Wycisz"]> div > div > svg {
  display: none;
}

[aria-label="Wycisz"][aria-checked="false"]::after {
  content: url('https://raw.githubusercontent.com/Zilezia/dc_pup_icon/main/assets/24x24_speak.svg');
}
[aria-label="Wycisz"][aria-checked="true"]::after {
  content: url('https://raw.githubusercontent.com/Zilezia/dc_pup_icon/main/assets/24x24_muzzle.svg');
}