.flake {
    animation-duration: inherit;
    animation-name: snowing;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.flake.fast {
    animation-duration: 3s;
}

@keyframes snowing {
    from {
        transform: translate(0, -100px);
    } to {
        transform: translate(0, 100px);
    }
}